<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150002277657-i8c6pple2skbiicalrh1sfptjoka21fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150002277657-i8c6pple2skbiicalrh1sfptjoka21fp</string>
	<key>API_KEY</key>
	<string>AIzaSyBMlq1fSsNuk6ynXkjOWti992sSYvFvozo</string>
	<key>GCM_SENDER_ID</key>
	<string>150002277657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.health.habitfly.mindcotine</string>
	<key>PROJECT_ID</key>
	<string>mindco-relief-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mindco-relief-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150002277657:ios:12a09fede612063794b988</string>
</dict>
</plist>