<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353015682620-hejmq6bv783q29l6nl2lo9pagdlseum5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353015682620-hejmq6bv783q29l6nl2lo9pagdlseum5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>353015682620-8rcgv7hhnb9me728bv00tr0pkg3n4qu3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_u6jegTA4q-SfPV0HAZNwwDVJCXxA1RA</string>
	<key>GCM_SENDER_ID</key>
	<string>353015682620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.health.habitfly.mindcotine</string>
	<key>PROJECT_ID</key>
	<string>mindcotine-v4-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mindcotine-v4-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353015682620:ios:0f56f7e3bfe8d815101539</string>
	<key>DATABASE_URL</key>
	<string>https://mindcotine-v4-dev.firebaseio.com</string>
</dict>
</plist>